{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <img align = "center" src = "{% static 'answer.jpg' %}"><br><br><br><br>
    <h2 style = "font-family: 'KOMACON';">1번. 카레는 인도어로 '맵다'라는 뜻이다.</h2>
    <h4 style = "font-family: 'BMHANNAPro';"> --> 카레는 인도어로 '즙'이라는 뜻이다.</h4><br>
    <h2 style = "font-family: 'KOMACON';">2번. 세계에서 가장 많이 불리는 노래는 그 나라 국가이다.</h2>
    <h4 style = "font-family: 'BMHANNAPro';"> --> 세계에서 가장 많이 불리는 노래는 '생일 축하 노래'이다.</h4><br>
    <h2 style = "font-family: 'KOMACON';">3번. 골치가 아프다 할 때 '골치'는 관자놀이를 뜻한다.</h2>
    <h4 style = "font-family: 'BMHANNAPro';"> --> ->골치는 '머릿골'을, 관자놀이는 눈과 귀 사이의 '태양혈'을 뜻한다.</h4><br>
    <h2 style = "font-family: 'KOMACON';">4번. 닭의 새끼는 '병아리'이고 꿩의 새끼는 '고도리'이다.</h2>
    <h4 style = "font-family: 'BMHANNAPro';"> --> 꿩 새끼는 '꺼벙이'이다.</h4><br>
    <h2 style = "font-family: 'KOMACON';">5번. 머리와 얼굴을 구분하는 기준은 눈썹이다.</h2>
    <h4 style = "font-family: 'BMHANNAPro';"> --> 눈썹 맞다.</h4><br>
    <h2 style = "font-family: 'KOMACON';">6번. 유럽 14세기에 대유행한 페스트균의 감염에 의해 급성으로 일어나는 공포의 전염병 이름은 콜레라이다.</h2>
    <h4 style = "font-family: 'BMHANNAPro';"> --> 흑사병 맞음.</h4><br>
    <h2 style = "font-family: 'KOMACON';">7번. 찬 물과 뜨거운 물 중 빠르게 어는 물은 뜨거운 물이다.</h2>
    <h4 style = "font-family: 'BMHANNAPro';"> --> 뜨거운 물이 더 빠르게 언다.</h4><br>
    <h2 style = "font-family: 'KOMACON';">8번. 올빼미는 조류 중 유일하게 파란색을 볼 수 있다.</h2>
    <h4 style = "font-family: 'BMHANNAPro';"> --> 그렇다고 한다.</h4><br>
    <h2 style = "font-family: 'KOMACON';">9번. 태양계에서 가장 큰 행성은 토성이다.</h2>
    <h4 style = "font-family: 'BMHANNAPro';"> --> 목성</h4><br>
    <h2 style = "font-family: 'KOMACON';">10번. 음력으로 매월 마지막 날에 뜨는 달의 이름은 초승달이다.</h2>
    <h4 style = "font-family: 'BMHANNAPro';"> --> 그믐달</h4><br><br><br><br>



    <h3 style = "font-family: 'BBTreeGB';" align = "center"><a href="{% url 'main' %}">메인화면</a></h3>

{% endblock %}