{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="card">
        <img align = "center" src = "{% static 'mona.jpg' %}">
        <div class = "question">
            <h1 align = "center">문제 5</h1>
            <h3 align = "center">머리와 얼굴을 구분하는 기준은 눈썹이다.</h3>
        </div>
        <div style="position:center; bottom:0px;">
            <form align = "center" action="{% url 'sixth' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="score" value="{{ score|add:1 }}"/>
            <input class="o" type="image" src="{% static 'o.jpg' %}" value="O"/>
            </form>
            <form align = "center" action="{% url 'sixth' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="score" value="{{ score }}"/>
            <input class="x" type="image" src="{% static 'x.jpg' %}" value="X"/>
            </form>
        </div>
    </div>
    
{% endblock %}