{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="card">
        <img align = "center" src = "{% static 'moon.jpg' %}">
        <div class = "question">
            <h1 align = "center">문제 10</h1>
            <h3 align = "center">음력으로 매월 마지막 날에 뜨는 달의 이름은 초승달이다.</h3>
        </div>
        <div style="position:center; bottom:0px;">
            <form align = "center" action="{% url 'finish' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="score" value="{{ score }}"/>
                <input class="o" type="image" src="{% static 'o.jpg' %}" value="O"/>
            </form>
            <form align = "center" action="{% url 'finish' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="score" value="{{ score|add:1 }}"/>
                <input class="x" type="image" src="{% static 'x.jpg' %}" value="X"/>
            </form>
        </div>
    </div>

{% endblock %}